{%- liquid
  if block_settings == blank
    assign block_settings = block.settings
  endif
  if block_id != blank
    assign estimate_block_id = block_id
  else
    assign estimate_block_id = block.id
  endif
-%}
{% liquid
  assign order_shipping_days_min = block_settings.order_shipping_days_min | default: 5
  assign order_shipping_days_max = block_settings.order_shipping_days_max | default: 7
  assign order_delivery_days_min = block_settings.order_delivery_days_min | default: 15
  assign order_delivery_days_max = block_settings.order_delivery_days_max | default: 17

  assign offset_ship_min = order_shipping_days_min | times: 86400
  assign offset_ship_max = order_shipping_days_max | times: 86400
  assign ship_min_ts = 'now' | date: '%s' | plus: offset_ship_min
  assign ship_max_ts = 'now' | date: '%s' | plus: offset_ship_max
  if order_shipping_days_min > order_shipping_days_max
    assign ship_max_ts = ship_min_ts
  endif
  assign ship_y1 = ship_min_ts | date: '%Y'
  assign ship_y2 = ship_max_ts | date: '%Y'
  assign ship_m1 = ship_min_ts | date: '%m'
  assign ship_m2 = ship_max_ts | date: '%m'

  assign offset_delivery_min = order_delivery_days_min | times: 86400
  assign offset_delivery_max = order_delivery_days_max | times: 86400
  assign delivery_min_ts = 'now' | date: '%s' | plus: offset_delivery_min
  assign delivery_max_ts = 'now' | date: '%s' | plus: offset_delivery_max
  if order_delivery_days_min > order_delivery_days_max
    assign delivery_max_ts = delivery_min_ts
  endif
  assign delivery_y1 = delivery_min_ts | date: '%Y'
  assign delivery_y2 = delivery_max_ts | date: '%Y'
  assign delivery_m1 = delivery_min_ts | date: '%m'
  assign delivery_m2 = delivery_max_ts | date: '%m'
%}
{%- capture ship_date_range -%}
  {%- if ship_min_ts == ship_max_ts -%}
    {{- ship_min_ts | date: '%b' }} {{ ship_min_ts | date: '%e' | strip -}}
  {%- elsif ship_y1 == ship_y2 and ship_m1 == ship_m2 -%}
    {{- ship_min_ts | date: '%b' }} {{ ship_min_ts | date: '%e' | strip }} – {{ ship_max_ts | date: '%e' | strip -}}
  {%- else -%}
    {{- ship_min_ts | date: '%b %d' }} – {{ ship_max_ts | date: '%b %d' -}}
  {%- endif -%}
{%- endcapture -%}
{%- capture delivery_date_range -%}
  {%- if delivery_min_ts == delivery_max_ts -%}
    {{- delivery_min_ts | date: '%b' }} {{ delivery_min_ts | date: '%e' | strip -}}
  {%- elsif delivery_y1 == delivery_y2 and delivery_m1 == delivery_m2 -%}
    {{- delivery_min_ts | date: '%b' }} {{ delivery_min_ts | date: '%e' | strip }} – {{ delivery_max_ts | date: '%e' | strip -}}
  {%- else -%}
    {{- delivery_min_ts | date: '%b %d' }} – {{ delivery_max_ts | date: '%b %d' -}}
  {%- endif -%}
{%- endcapture -%}
{%- capture order_date_display -%}
  {{- 'now' | date: '%b' }} {{ 'now' | date: '%e' | strip -}}
{%- endcapture -%}

<div class="delivery-estimate-info" data-block-id="{{ estimate_block_id }}">
  <div class="delivery-estimate-info__compact">
    <div class="shipping-method-box">
      <div class="shipping-method-name">{{ block_settings.shipping_method_name }}</div>
      <div class="shipping-method-delivery">
        <span class="arrives-by">{{ block_settings.arrives_by }}:</span>
        <span class="shipping-method-delivery-date">{{ delivery_date_range | strip }}</span>
      </div>
    </div>
  </div>

  {% if block_settings.title != blank %}
    {% assign data_format = '<b>' | append: delivery_date_range | append: '</b>' %}
    <div class="delivery-estimate__title">
        <svg class="hurry-icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80"> <path d="M78.2 43.5l-6.3-10.3c-.4-.6-1-1-1.7-1h-9.7c-1.1 0-2 .9-2 2V52c0 1.1.9 2 2 2h1.6c.4 0 .7-.2.8-.5.8-1.8 2.7-3.1 4.9-3.1s4 1.3 4.9 3.1c.1.3.5.5.8.5h3c1.1 0 2-.9 2-2v-7.4c0-.4-.1-.8-.3-1.1zm-4.4-1h-8.9c-.6 0-1.1-.5-1.1-1.1v-6.6c0-.6.5-1.1 1.1-1.1h4.9c.4 0 .8.2 1 .5l4 6.6c.5.7-.1 1.7-1 1.7zm-6 9.6c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2.1-4.5-4.5-4.5zm0 6.7c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2 1.2 0 2.2 1 2.2 2.2 0 1.2-1 2.2-2.2 2.2zM56.8 28v22c0 2.2-1.8 4-4 4H39.2c-1 0-1.9-.5-2.5-1.3-1-1.4-2.6-2.4-4.4-2.4-1.8 0-3.5.9-4.4 2.4-.6.8-1.5 1.3-2.5 1.3h-8.8c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h8.6c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7H11.3c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h18c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7H16.7c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h14.6c.9 0 1.7-.8 1.7-1.7 0-.9-.8-1.7-1.7-1.7h-8.1c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h11.4c.9 0 1.6-.7 1.6-1.6v-.2c0-.9-.7-1.6-1.6-1.6h-6c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h24.2c2.2-.4 4 1.4 4 3.6zM32.3 52.1c-2.5 0-4.5 2-4.5 4.5s2 4.5 4.5 4.5 4.5-2 4.5-4.5-2-4.5-4.5-4.5zm0 6.7c-1.2 0-2.2-1-2.2-2.2 0-1.2 1-2.2 2.2-2.2 1.2 0 2.2 1 2.2 2.2.1 1.2-.9 2.2-2.2 2.2zM10.8 25.6c0-.9.7-1.6 1.6-1.6h9.8c.9 0 1.6.7 1.6 1.6 0 .9-.7 1.6-1.6 1.6h-9.8c-.8.1-1.6-.7-1.6-1.6zm-.2 15H6.3c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h4.3c.9 0 1.6.7 1.6 1.6.1.9-.7 1.6-1.6 1.6zm6.8-6.7H3.1c-.9 0-1.6-.7-1.6-1.6 0-.9.7-1.6 1.6-1.6h14.3c.9 0 1.6.7 1.6 1.6 0 .8-.7 1.6-1.6 1.6z"></path></svg>
        <div class="text">{{ block_settings.title | replace: '[date]', data_format | strip }}</div>
    </div>
  {% endif %}

  <div class="delivery-estimate-info__timeline">
    <div class="delivery-estimate-timeline-line"></div>
    <div class="delivery-estimate-timeline">
      <div class="delivery-estimate-timeline__row">
        <div class="delivery-estimate-timeline__icon">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M22 16H19.82C19.9364 15.6793 19.9973 15.3411 20 15V10C20 9.20435 19.6839 8.44129 19.1213 7.87868C18.5587 7.31607 17.7956 7 17 7H11C10.2044 7 9.44129 7.31607 8.87868 7.87868C8.31607 8.44129 8 9.20435 8 10V15C8.0027 15.3411 8.06358 15.6793 8.18 16H7C6.73478 16 6.48043 15.8946 6.29289 15.7071C6.10536 15.5196 6 15.2652 6 15V5C6 4.20435 5.68393 3.44129 5.12132 2.87868C4.55871 2.31607 3.79565 2 3 2H2C1.73478 2 1.48043 2.10536 1.29289 2.29289C1.10536 2.48043 1 2.73478 1 3C1 3.26522 1.10536 3.51957 1.29289 3.70711C1.48043 3.89464 1.73478 4 2 4H3C3.26522 4 3.51957 4.10536 3.70711 4.29289C3.89464 4.48043 4 4.73478 4 5V15C4.00369 15.6569 4.22288 16.2944 4.62392 16.8147C5.02497 17.335 5.58569 17.7092 6.22 17.88C6.03583 18.3305 5.96406 18.8191 6.01087 19.3036C6.05767 19.7881 6.22166 20.2539 6.48867 20.6609C6.75568 21.0678 7.11771 21.4037 7.5435 21.6395C7.96929 21.8753 8.44607 22.004 8.93269 22.0144C9.41931 22.0249 9.90116 21.9167 10.3367 21.6994C10.7722 21.482 11.1482 21.1619 11.4324 20.7668C11.7167 20.3717 11.9004 19.9133 11.968 19.4313C12.0355 18.9492 11.9847 18.458 11.82 18H15.18C15.0155 18.4531 14.9627 18.9392 15.0259 19.4171C15.0892 19.895 15.2666 20.3506 15.5433 20.7454C15.82 21.1401 16.1877 21.4624 16.6154 21.6849C17.043 21.9074 17.5179 22.0235 18 22.0235C18.4821 22.0235 18.957 21.9074 19.3846 21.6849C19.8123 21.4624 20.18 21.1401 20.4567 20.7454C20.7334 20.3506 20.9108 19.895 20.9741 19.4171C21.0373 18.9392 20.9845 18.4531 20.82 18H22C22.2652 18 22.5196 17.8946 22.7071 17.7071C22.8946 17.5196 23 17.2652 23 17C23 16.7348 22.8946 16.4804 22.7071 16.2929C22.5196 16.1054 22.2652 16 22 16ZM9 20C8.80222 20 8.60888 19.9414 8.44443 19.8315C8.27998 19.7216 8.15181 19.5654 8.07612 19.3827C8.00043 19.2 7.98063 18.9989 8.01921 18.8049C8.0578 18.6109 8.15304 18.4327 8.29289 18.2929C8.43275 18.153 8.61093 18.0578 8.80491 18.0192C8.99889 17.9806 9.19996 18.0004 9.38268 18.0761C9.56541 18.1518 9.72159 18.28 9.83147 18.4444C9.94135 18.6089 10 18.8022 10 19C10 19.2652 9.89464 19.5196 9.70711 19.7071C9.51957 19.8946 9.26522 20 9 20ZM11 16C10.7348 16 10.4804 15.8946 10.2929 15.7071C10.1054 15.5196 10 15.2652 10 15V10C10 9.73478 10.1054 9.48043 10.2929 9.29289C10.4804 9.10536 10.7348 9 11 9H17C17.2652 9 17.5196 9.10536 17.7071 9.29289C17.8946 9.48043 18 9.73478 18 10V15C18 15.2652 17.8946 15.5196 17.7071 15.7071C17.5196 15.8946 17.2652 16 17 16H11ZM18 20C17.8022 20 17.6089 19.9414 17.4444 19.8315C17.28 19.7216 17.1518 19.5654 17.0761 19.3827C17.0004 19.2 16.9806 18.9989 17.0192 18.8049C17.0578 18.6109 17.153 18.4327 17.2929 18.2929C17.4327 18.153 17.6109 18.0578 17.8049 18.0192C17.9989 17.9806 18.2 18.0004 18.3827 18.0761C18.5654 18.1518 18.7216 18.28 18.8315 18.4444C18.9414 18.6089 19 18.8022 19 19C19 19.2652 18.8946 19.5196 18.7071 19.7071C18.5196 19.8946 18.2652 20 18 20Z" fill="#0B8494"></path></svg>
        </div>
        <span class="delivery-estimate-timeline__value">{{ order_date_display | strip }}</span>
        <span class="delivery-estimate-timeline__label">{{ block_settings.label_order | default: 'Order placed' }}</span>
      </div>
      <div class="delivery-estimate-timeline__row">
        <div class="delivery-estimate-timeline__icon">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="15" viewBox="0 0 20 15" fill="none"> <path d="M5.98228 5.40287C6.18802 5.40805 6.40597 5.48668 6.5519 5.62254C6.70297 5.76319 6.78784 5.95396 6.78784 6.15287C6.78784 6.35178 6.70297 6.54255 6.5519 6.6832C6.40082 6.82385 6.19593 6.90287 5.98228 6.90287L3.92365 6.90476L2.73549 6.90507C2.52184 6.90507 2.31695 6.82605 2.16588 6.6854C2.01481 6.54475 1.92994 6.35398 1.92994 6.15507C1.92994 5.95616 2.01481 5.76539 2.16588 5.62474C2.31695 5.48409 2.52184 5.40507 2.73549 5.40507L5.98228 5.40287Z" fill="#0B8494"></path> <path d="M8.02774 2.97136C8.23348 2.97654 8.45143 3.05517 8.59735 3.19103C8.74842 3.33168 8.83329 3.52244 8.83329 3.72136C8.83329 3.92027 8.74842 4.11103 8.59735 4.25169C8.44628 4.39234 8.24138 4.47136 8.02774 4.47136L2.40325 4.47324L1.21509 4.47355C1.00145 4.47355 0.79655 4.39454 0.645479 4.25388C0.494408 4.11323 0.40954 3.92247 0.40954 3.72355C0.40954 3.52464 0.494408 3.33388 0.645479 3.19322C0.79655 3.05257 1.00145 2.97355 1.21509 2.97355L8.02774 2.97136Z" fill="#0B8494"></path> <path fill-rule="evenodd" clip-rule="evenodd" d="M19.6666 7.96548V11.6936C19.6666 11.8913 19.5868 12.081 19.4447 12.2208C19.3027 12.3606 19.11 12.4392 18.9091 12.4392H18.1515C18.1515 13.0324 17.912 13.6014 17.4858 14.0209C17.0596 14.4403 16.4815 14.676 15.8787 14.676C15.276 14.676 14.6979 14.4403 14.2717 14.0209C13.8455 13.6014 13.606 13.0324 13.606 12.4392H9.06057C9.06057 13.0324 8.82112 13.6014 8.3949 14.0209C7.96868 14.4403 7.3906 14.676 6.78784 14.676C6.18507 14.676 5.607 14.4403 5.18078 14.0209C4.75456 13.6014 4.51511 13.0324 4.51511 12.4392H3.75753C3.55661 12.4392 3.36392 12.3606 3.22185 12.2208C3.07977 12.081 2.99996 11.8913 2.99996 11.6936L3.01511 9.25877C3.01511 9.04513 3.09413 8.84023 3.23478 8.68916C3.37543 8.53809 3.5662 8.45322 3.76511 8.45322C3.96402 8.45322 4.15479 8.53809 4.29544 8.68916C4.43609 8.84023 4.51511 9.04513 4.51511 9.25877V10.9479H5.10602C5.31904 10.7173 5.57868 10.533 5.86831 10.4069C6.15793 10.2808 6.47114 10.2156 6.78784 10.2156C7.10454 10.2156 7.41775 10.2808 7.70737 10.4069C7.99699 10.533 8.25664 10.7173 8.46966 10.9479H12.8484V2.74618C12.8484 2.54843 12.7686 2.35878 12.6266 2.21895C12.4845 2.07912 12.2918 2.00056 12.0909 2.00056H5.27269L3.54104 2C3.3274 2 3.1225 1.92098 2.97143 1.78033C2.82036 1.63968 2.73549 1.44891 2.73549 1.25C2.73549 1.05109 2.82036 0.860322 2.97143 0.71967C3.1225 0.579018 3.3274 0.5 3.54104 0.5L5.28237 0.5L12.0909 0.509337C12.6936 0.509337 13.2717 0.745004 13.6979 1.16449C14.1241 1.58398 14.3636 2.15293 14.3636 2.74618V4.2374H15.8787C16.2316 4.2374 16.5796 4.31826 16.8951 4.47355C17.2107 4.62885 17.4852 4.85433 17.6969 5.13214L19.5151 7.51812C19.5373 7.55053 19.5551 7.58561 19.5681 7.6225L19.6136 7.70452C19.647 7.78767 19.665 7.87607 19.6666 7.96548ZM7.41774 12.0249C7.50098 12.1475 7.54541 12.2917 7.54541 12.4392C7.54541 12.6369 7.4656 12.8266 7.32353 12.9664C7.18145 13.1062 6.98876 13.1848 6.78784 13.1848C6.638 13.1848 6.49153 13.1411 6.36695 13.0591C6.24237 12.9772 6.14527 12.8607 6.08793 12.7245C6.03059 12.5883 6.01559 12.4383 6.04482 12.2937C6.07405 12.1491 6.1462 12.0162 6.25215 11.9119C6.3581 11.8077 6.49309 11.7367 6.64004 11.7079C6.787 11.6791 6.93932 11.6939 7.07775 11.7503C7.21618 11.8067 7.3345 11.9023 7.41774 12.0249ZM17.3939 7.21987H14.3636V5.72863H15.8787C15.9964 5.72863 16.1124 5.75558 16.2175 5.80735C16.3227 5.85912 16.4142 5.93428 16.4848 6.02688L17.3939 7.21987ZM16.5086 12.0249C16.5919 12.1475 16.6363 12.2917 16.6363 12.4392C16.6363 12.6369 16.5565 12.8266 16.4144 12.9664C16.2724 13.1062 16.0797 13.1848 15.8787 13.1848C15.7289 13.1848 15.5824 13.1411 15.4579 13.0591C15.3333 12.9772 15.2362 12.8607 15.1788 12.7245C15.1215 12.5883 15.1065 12.4383 15.1357 12.2937C15.165 12.1491 15.2371 12.0162 15.3431 11.9119C15.449 11.8077 15.584 11.7367 15.731 11.7079C15.8779 11.6791 16.0302 11.6939 16.1687 11.7503C16.3071 11.8067 16.4254 11.9023 16.5086 12.0249ZM14.3636 8.7111H18.1515V10.9479H17.5606C17.1574 10.511 16.5952 10.2487 15.9964 10.2179C15.3976 10.1872 14.8107 10.3906 14.3636 10.7839V8.7111Z" fill="#0B8494"></path></svg>
        </div>
        <span class="delivery-estimate-timeline__value">{{ ship_date_range | strip }}</span>
        <span class="delivery-estimate-timeline__label">{{ block_settings.label_ship | default: 'Ships' }}</span>
      </div>
      <div class="delivery-estimate-timeline__row">
        <div class="delivery-estimate-timeline__icon">
          <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M19 2H5C4.20435 2 3.44129 2.31607 2.87868 2.87868C2.31607 3.44129 2 4.20435 2 5V19C2 19.7956 2.31607 20.5587 2.87868 21.1213C3.44129 21.6839 4.20435 22 5 22H19C19.7956 22 20.5587 21.6839 21.1213 21.1213C21.6839 20.5587 22 19.7956 22 19V5C22 4.20435 21.6839 3.44129 21.1213 2.87868C20.5587 2.31607 19.7956 2 19 2ZM10 4H14V7.13L12.55 6.13C12.3867 6.02247 12.1955 5.96516 12 5.96516C11.8045 5.96516 11.6133 6.02247 11.45 6.13L10 7.13V4ZM20 19C20 19.2652 19.8946 19.5196 19.7071 19.7071C19.5196 19.8946 19.2652 20 19 20H5C4.73478 20 4.48043 19.8946 4.29289 19.7071C4.10536 19.5196 4 19.2652 4 19V5C4 4.73478 4.10536 4.48043 4.29289 4.29289C4.48043 4.10536 4.73478 4 5 4H8V9C8.00048 9.1809 8.05003 9.35829 8.14336 9.51326C8.2367 9.66823 8.37032 9.79498 8.53 9.88C8.68637 9.96029 8.86115 9.99795 9.03671 9.98917C9.21227 9.98039 9.38242 9.92549 9.53 9.83L12 8.2L14.45 9.83C14.6004 9.92905 14.7748 9.98565 14.9547 9.99381C15.1346 10.002 15.3133 9.96142 15.4721 9.87641C15.6308 9.7914 15.7637 9.66509 15.8566 9.51083C15.9495 9.35657 15.9991 9.18008 16 9V4H19C19.2652 4 19.5196 4.10536 19.7071 4.29289C19.8946 4.48043 20 4.73478 20 5V19Z" fill="#0B8494"></path></svg>
        </div>
        <span class="delivery-estimate-timeline__value">{{ delivery_date_range | strip }}</span>
        <span class="delivery-estimate-timeline__label">{{ block_settings.label_delivery | default: 'Arrives' }}</span>
      </div>
    </div>
  </div>
</div>
