
{% schema %}
    {
        "name": "单图",
        "settings": [
            { "type": "header","content":"配置"},
            { "type": "select", "id": "section_width", "label": "版块宽度", "default": "global-width", "options": [
                { "value": "full-width", "label": "版块全宽" },
                { "value": "full-content-width", "label": "版块全宽, 内容区域跟随全局宽度" },
                { "value": "global-width", "label": "版块跟随全局宽度" },
                { "value": "custom-width", "label": "版块自定义宽度" }
            ]},
            { "type": "number", "id": "section_width_custom", "label": "自定义宽度", "default": 1440, "info": "自定义宽度, 默认1440px", "visible_if": "{{ section.settings.section_width == 'custom-width' or section.settings.section_width == 'full-content-width' }}" },
            
            { "type": "color", "id": "bg_color", "label": "版块背景颜色", "default": "transparent" },
            { "type": "header","content":"图片"},
            { "type": "image_picker", "id": "image_desktop", "label": "图片" },
            { "type": "image_picker", "id": "image_mobile", "label": "图片 (手机端)" },
            { "type": "image_picker", "id": "image", "label": "通用图片（未单独设置手机/电脑时使用）" },
            { "type": "select", "id": "ratio_mobile", "label": "手机端比例", "options": [
                    { "value": "auto", "label": "自动" },
                    { "value": "16/9", "label": "16:9" },
                    { "value": "1/1", "label": "1:1" },
                    { "value": "4/3", "label": "4:3" },
                    { "value": "3/4", "label": "3:4" },
                    { "value": "3/2", "label": "3:2" },
                    { "value": "2/1", "label": "2:1" },
                    { "value": "21/9", "label": "21:9" }
                ],
                "default": "auto"
            },
            { "type": "select", "id": "ratio_desktop", "label": "电脑端比例", "options": [
                    { "value": "auto", "label": "自动" },
                    { "value": "16/9", "label": "16:9" },
                    { "value": "1/1", "label": "1:1" },
                    { "value": "4/3", "label": "4:3" },
                    { "value": "3/4", "label": "3:4" },
                    { "value": "3/2", "label": "3:2" },
                    { "value": "2/1", "label": "2:1" },
                    { "value": "21/9", "label": "21:9" }
                ],
                "default": "auto"
            },

            { "type": "header","content":"链接"},
            { "type": "url", "id": "image_url", "label": "图片链接" },

            { "type": "checkbox", "id": "remove_top_padding", "label": "移除上边距", "default": false },
            { "type": "checkbox", "id": "remove_bottom_padding", "label": "移除下边距", "default": false },
            { "type": "checkbox", "id": "remove_left_padding", "label": "移除左边距 (手机端)", "default": false },
            { "type": "checkbox", "id": "remove_right_padding", "label": "移除右边距 (手机端)", "default": false },
            { "type": "text", "id": "custom_class", "label": "自定义class" }
        ],
        "presets": [
            {
                "name": "单图",
                "category": "custom"
            }
        ]
    }
{% endschema %}


{{ 'cm-one-image.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign ratio_mobile = section.settings.ratio_mobile
  assign ratio_desktop = section.settings.ratio_desktop

  assign img_mobile = section.settings.image_mobile
  assign img_desktop = section.settings.image_desktop
  if img_mobile == blank
    assign img_mobile = section.settings.image
  endif
  if img_desktop == blank
    assign img_desktop = section.settings.image
  endif
  if img_mobile == blank and img_desktop != blank
    assign img_mobile = img_desktop
  endif
  assign img_for_mobile = img_mobile
  if img_desktop != blank
    assign img_for_desktop = img_desktop
  else
    assign img_for_desktop = img_for_mobile
  endif
-%}

<style>
    #shopify-section-{{ section.id }} {
        --bg-color:{{ section.settings.bg_color }};
        --section-width:{{ section.settings.section_width_custom }}px;
        --content-max-width:{{ section.settings.content_max_width }}px;
    }

  [data-section-id="{{ section.id }}"] .cm-one-image__media--mobile {
    {% if ratio_mobile == 'auto' %}
      {% if img_for_mobile != blank %}
        aspect-ratio: {{ img_for_mobile.aspect_ratio }};
      {% else %}
        aspect-ratio: auto;
      {% endif %}
      height: auto;
    {% else %}
      aspect-ratio: {{ ratio_mobile }};
    {% endif %}
  }
  @media screen and (min-width: 750px) {
    [data-section-id="{{ section.id }}"] .cm-one-image__media--desktop {
      {% if ratio_desktop == 'auto' %}
        {% if img_for_desktop != blank %}
          aspect-ratio: {{ img_for_desktop.aspect_ratio }};
        {% else %}
          aspect-ratio: auto;
        {% endif %}
        height: auto;
      {% else %}
        aspect-ratio: {{ ratio_desktop }};
      {% endif %}
    }
  }
</style>

{% liquid
    case section.settings.section_width
      when 'full-width'
        assign layout_container_class = 'full-width'
      when 'custom-width'
        assign layout_container_class = 'layout-container custom-width'
      when 'global-width'
        assign layout_container_class = 'layout-container global-width'
      else
        assign layout_container_class = 'layout-container'
    endcase
%}

<div class="cm-one-image {{ section.settings.custom_class }} {% if section.settings.remove_top_padding %}remove-top-space{% endif %} {% if section.settings.remove_bottom_padding %}remove-bottom-space{% endif %}" data-section-id="{{ section.id }}">
    <div class="cm-one-image-bg-layout">
        <div class="{{ layout_container_class }} {% if section.settings.remove_left_padding %}remove-left-space{% endif %} {% if section.settings.remove_right_padding %}remove-right-space{% endif %}">
            <div class="cm-one-image-inner">
                <div class="cm-one-image__wrap cm-one-image__media cm-one-image__media--mobile cm-one-image__media--desktop">
                    {% if section.settings.image_url != blank %}<a href="{{ section.settings.image_url }}"></a>{% endif %}
                    {%- if img_for_mobile != blank or img_for_desktop != blank -%}
                        {% liquid
                            if img_for_desktop != blank
                            assign pc_src = img_for_desktop | image_url: width: 1980
                            assign pad_src = img_for_desktop | image_url: width: 1536
                            else
                            assign pc_src = img_for_mobile | image_url: width: 1980
                            assign pad_src = img_for_mobile | image_url: width: 1536
                            endif
                            assign m_src = img_for_mobile | image_url: width: 767
                        %}
                        {% render 'resp-img'
                            pc_src: pc_src,
                            pad_src: pad_src,
                            m_src: m_src,
                            lazy: true, 
                            class_name: 'cm-one-image__picture'
                        %}
                    {%- endif -%}
                </div>  
            </div>
        </div>
    </div>
</div>

